
<style>
    /* Styles for the loader */
    #loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

</style>



<!-- Views/Shared/_Loader.cshtml -->
<div id="loader" class="d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
