
@{
    ViewBag.Title = "Women";
}

<main>

    <section class="row">

        <!-- start of carousel section -->

        <div class="container-fluid" margin-top:2%">
            <div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Assets/Images/Banners/wbg1.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg2.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg3.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg4.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg5.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg6.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Assets/Images/Banners/wbg7.png" alt="">
                    </div>
                </div>


                <!-- Indicators -->
                <ul class="carousel-indicators" style="background-color:transparent">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                    <li data-target="#demo" data-slide-to="5"></li>
                    <li data-target="#demo" data-slide-to="6"></li>
                </ul>
            </div>
        </div>

        <!--end of carousel section -->
    </section>

    <section class="row">
        <div class="mt-4 mb-4">
            <h2 class="title">Women's Wear</h2>
        </div>

        <div class="container-fluid">
            @Html.Partial("_ProductCard")
        </div>
    </section>

</main>

