
@{
    ViewBag.Title = "SearchProducts";
}

<main>
    <section class="row">
        <div class="mb-4">
            <h4 class="title">Search Results</h4>
        </div>

        <div class="container-fluid">
            @Html.Partial("_SearchProducts")
        </div>
    </section>
</main>

